<!-- ====================================================================
  File: head.hbs
  Description: Defines the head for all web application's pages.
  Author: Daniel Gorelkin
  Version: 1.1
  Created: 2025-08-15
  Updated: 2025-11-10
===================================================================== -->
<head>
    <meta charset="UTF-8" />
    <!-- Read the title from the app_server->index.js file -->
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-xh6Y1L7G8xkdUL2ElXbCkqg9f5fP7zED3dnmB5U+2WZgUe3JY2uV7DzGQKXcNbx5y4Kf8BRwP6GZb4Bx6H1k0A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
	  <link rel="icon" type="image/png" href="images/favicon.png">
</head>